header nav {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;   
    align-items: center;
}

a {

    color: inherit;
}

a:link {

    transition: all 0.5s linear;
    text-decoration: none;
}
   
a:hover {

    font-size: 150%;
    transition: all 0.5s linear;
    text-decoration: underline;
}

a:active {

    color: blue;
}

.icon {

    height: 100px;
    padding: 5px;
    margin-right: 20px;
}

h1 {

    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-left: 20px;
}

.search {

    height: 75px;
    background-color:dimgray;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px; 
    color: white;
    text-align: center;
    box-shadow: 1px 1px 10px 5px black;
}

.text_search {

    width: 500px;
    margin-right: 5px;  
}

.submit_search {

    width: 100px;
    margin-left: 5px;
}

input[type="text"]::placeholder {

    color: white;
}