html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_1280.png") no-repeat center center fixed;
    background-size: cover;
}

body {

    margin: 0;
}

header {
    
    background-color: RGB(223, 207, 190);
    border-bottom: 5px solid gray;
    position: sticky;
    top: 0;
}

main {


    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book {

    width: 15%;
    height: 25%;
    background-color: white;
    border: 5px solid gray;
    border-radius: 20px;
    margin:  10px;
    padding: 5px;
}

.book_image {

    max-width: 200px;
    max-height: 600px;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}

.add_checkout {

    height: 50px;
    width: 250px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: grey;
    border: 5px goldenrod solid;
    border-radius: 20px;
}

.little {

    font-size: 20px;
}

.little::before {

    content: "Author: ";
}

.inline {

    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.price {

    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.price::after {
    
    content: "$";
}

.book_chekout {

    width: 800px;
    height: 400px;
    background-color: white;
    border: 5px solid gray;
    border-radius: 20px;
    margin:  10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 250px 550px;
    grid-template-rows: 100px 300px;
}


.picture {

    grid-row: 1 / 3;
}

.book_image_checkout {

    width: 200px;
    height: 350px;
    margin: 25px;
}

.header_checkout {

    width: 550px;
    height: 100px;
    display: flex;
}

.title {

    width: 400px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.delate_button {

    padding: 0;
    margin: 25px;
    width: 50px;
    height: 50px;
}

.delate_icon {

    width: 40px;
    height: 40px;
    padding: 5px;
}


.text {

    grid-column: 2;
    display: flex;
    
}

.little_checkout {

    width: 500px;
    height: 50px;
    margin: 10px 0px;
}

