header {

    background-color: white;
    top: 0%;
    right: 0%;
    height: 120px;
    max-height: 138px;
    width: 100%;
    border: 5px solid gray;
    border-right: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between;   
}

.icon {

    height: 100px;
    padding: 5px;
    margin: 5px;
}

input {

    background-color:dimgray;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px; 
    color: white;
}

input[type="text"] {

    height: 94px;
    width: 500px;
    text-align: center;
    margin-right: 0px;  
}

input[type="submit"] {

    height: 94px;
    width: 100px;
    margin-left: 0px;
}

input[type="text"]::placeholder {

    color: white;
}